<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form Example</title>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="addItem">
            <p>Add item</p>
            <p>Item name: <input type="text" required v-model="itemName"></p>
            <p>How many: <input type="number" v-model="itemNumber"></p>
            <button type="submit">Add item</button>
        </form>
        <p>Shopping list:</p>
        <ul>
            <li v-for="item in shoppingList">{{item.name}}, {{item.number}}</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    itemName: "",
                    itemNumber: "",
                    shoppingList: [
                        { name: 'Tomatoes', number: 5 }
                    ]
                }
            },
            methods: {
                addItem() {
                    let item = {
                        name: this.itemName,
                        number: this.itemNumber
                    }
                    this.shoppingList.push(item);
                    this.itemName = null
                    this.itemNumber = null
                }
            }
        })
        app.mount('#app')
    </script>
</body>

</html>